@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');


.App {
  /* text-align: center; */
  background-color: #EAE7DC;
  font-family: 'Varela', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .nav-bar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


.nav-bar {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* text-align: center; */
  background-color: #D8C3A5;
  margin: 0px;
  padding-left: 0;
  text-decoration: none;
  margin: 0 auto;
  padding: 14px;


  /* border-radius: 2%; */
}

.nav-item {
  display: inline-block;

  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* padding: 14px; */
  padding-left: 14px;
  padding-right: 14px;
  color: black;

}

.nav-item:hover {
  color: #E98074;
}

.nav-bar .dot {
  width: 6px;
  height: 6px;
  background: #E98074;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.2s ease-in-out;
  
}

.nav-bar a:nth-child(1):hover ~ .dot {
  transform: translateX(35px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.nav-bar a:nth-child(2):hover ~ .dot {
  transform: translateX(119px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.nav-bar a:nth-child(3):hover ~ .dot {
  transform: translateX(214px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.nav-bar a:nth-child(4):hover ~ .dot {
  transform: translateX(346px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.nav-bar a:nth-child(5):hover ~ .dot {
  transform: translateX(472px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}




.nav-link {
  display: block;
  padding: 6px;
  color: black;
}

.carousel-wrapper {
  margin: 0 auto;
  width: 50%;
  border: 8px solid #8E8D8A;

  border-radius: 1%;
}

.carouselLVwrapper {
  margin: 0 auto;
  width: 50%;
  border: 8px solid #8E8D8A;

  border-radius: 1%;
  
}

.carouselSXFwrapper {
  margin: 0 auto;
  width: 50%;
  border: 8px solid #8E8D8A;

  border-radius: 1%;
  
}

.carouselSchiapwrapper {
  margin: 0 auto;
  width: 50%;
  border: 8px solid #8E8D8A;
  border-radius: 1%;
}

/* .hotposts {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
} */

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.homepageentries-container {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.homepage-posts {
  text-align: left;
  padding-right: 20px;
}

.runwaywrapper {
  text-align: center;
}

.about-page {
  text-align: center;
}

.about-wrapper {
  padding: 10px, 10px, 10px, 10px;
}
.photo-aboutus {
  width: 30%;
  border-radius: 50%;
  border: 8px solid #8E8D8A;
}

.article-listimg {
  width: 500px;
  height: 250px;
  border: 8px solid #8E8D8A;

  border-radius: 1%;
}

.runway-list-img{
  width: 500px;
  height: 250px;
  border: 8px solid #8E8D8A;

  border-radius: 1%;
  object-fit: cover;
}

.articlewrapper {
  text-align: center;
}

.article-list-wrapper {
  text-align: center;
}

.newswrapper {
  text-align: center;
}

.news-list-wrapper {
  text-align: center;
}

.news-list-img {
  width: 500px;
  height: 250px;
  border: 8px solid #8E8D8A;
  border-radius: 1%;
}

.link {
  text-decoration: none;
  color: black;
}

.pagetitle {
  color: #E85A4F;
  text-align: center;
}

.titlecolouring {
  color: #E85A4F;
}

.minortitlecolouring {
  color: #E98074
}



.d-block w-100 {
  width: 500px;
  height: 250px;
}

.article-head-img {
  width: 700px;
  height: 450px;
  border: 8px solid #8E8D8A;
  border-radius: 1%;
}

.textwrapper {
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.news-head-img {
  width: 700px;
  height: 450px;
  border: 8px solid #8E8D8A;
  border-radius: 1%;
}

.runway-head-img {
  width: 700px;
  height: 450px;
  border: 8px solid #8E8D8A;
  border-radius: 1%;
}

.featuredposts {
  text-align: center;
  color: #E85A4F;
}

.eshayarticle {
  width: 90%;
  padding: 20px;
}

.eshaypic {
  width: 80%;
  border: 8px solid  #8E8D8A;
}

.asidepics {
  width: 80%;
  border: 8px solid  #8E8D8A;
}

.hotposts {
  padding: 20px;
  width: 100%;
}

.newheading {
  padding-top: 10px;
  color: #E98074
}

.runway-list-container {
  text-align: center;
}

.hipsterpic {
  width: 80%;
  border: 8px solid #8E8D8A;
}

.hipsterarticle {
  width: 90%;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #E85A4F;
}

.homepageentries-container {
  padding-left: 20px;
  padding-right: 20px;
}

.listtitle {
  padding: 10px;
  color: #E98074;
}